@model IEnumerable<Libreria.LogicaNegocio.Entidades.Mantenimiento>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Ingrese la primer fecha</label>
                <input name="Fecha1" type="date" class="form-control" />

            </div>

            <div class="form-group">
                <label class="control-label">Ingrese la segunda fecha</label>
                <input name="Fecha2" type="date" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" />

            </div>
        </form>

    </div>

</div>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Costo</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var man in Model)
            {
                <tr>
                    <td>@man.Fecha</td>
                    <td>@man.Descripcion</td>
                    <td>@man.Costo</td>
                    <td>@man.NombreUs</td>


                </tr>
            }

        }
    </tbody>
</table>